@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

@keyframes alert-icon {
  0% {
    transform: scale(); }
  100% {
    transform: scale(1.2); } }
.header {
  grid-area: 1 / 2 / 2 / 7;
  padding: 20px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header__left {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .header__left-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
    .header__left-search input {
      width: 95%;
      height: 40px;
      background-color: #E2E8F0;
      border-radius: 19px;
      outline-color: #1992D4;
      border: none;
      padding: 2px 10px 2px 20px;
      font-family: "Roboto", sans-serif;
      font-size: 18px; }
  .header__left-wrap {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .header__left-wrap-img {
    width: 80px;
    height: 80px;
    margin-right: 20px; }
    .header__left-wrap-img img {
      width: inherit;
      height: inherit; }
  .header__left-wrap-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700; }
    .header__left-wrap-title span {
      font-size: 18px;
      font-weight: 500; }
  .header__right {
    flex-basis: 33%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .header__right-one {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px; }
  .header__right-one-alert {
    width: 25px;
    height: 25px;
    margin-right: 20px; }
    .header__right-one-alert svg {
      width: inherit;
      height: inherit;
      animation: alert-icon 0.5s infinite; }
  .header__right-one-avatar {
    width: 40px;
    height: 40px;
    margin-right: 20px; }
    .header__right-one-avatar img {
      width: inherit;
      height: inherit; }
  .header__right-two {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .header__right-two-btn {
    width: 100px;
    height: 40px;
    border-radius: 18px;
    border: none;
    background-color: #1992D4;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    transition: all 0.3s; }
    .header__right-two-btn:hover {
      transform: scale(1.1);
      cursor: pointer;
      box-shadow: 0px 22px 13px -9px rgba(0, 0, 0, 0.3); }

.aside {
  grid-area: 1 / 1 / 6 / 2;
  background-color: #1992D4;
  padding: 32px 5px 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 60px repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .aside__logo {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    width: 70%;
    min-width: 150px;
    align-items: center; }
    .aside__logo > svg {
      margin-right: 10px; }
  .aside__title {
    font-family: "Roboto", sans-serif;
    color: #fff; }
  .aside__nav {
    grid-area: 3 / 1 / 4 / 2;
    width: 70%;
    min-width: 150px; }
  .aside__nav-list {
    list-style: none; }
  .aside__nav-link, .aside__settings-link {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: all .3s; }
    .aside__nav-link > svg, .aside__settings-link > svg {
      margin-right: 10px; }
    .aside__nav-link:last-child, .aside__settings-link:last-child {
      margin-bottom: 0; }
    .aside__nav-link:hover, .aside__settings-link:hover {
      transform: scale(1.1); }
  .aside__nav-item, .aside__settings-item {
    margin-bottom: 30px; }
    .aside__nav-item:last-child, .aside__settings-item:last-child {
      margin-bottom: 0; }
  .aside__settings-list {
    grid-area: 6 / 1 / 7 / 2;
    list-style: none; }

.main {
  grid-area: 2 / 2 / 6 / 7;
  border: 1px solid black;
  background-color: #E2E8F0; }
