.aside{
    grid-area: 1 / 1 / 6 / 2; 
    
    background-color: $aside-bg;
    padding: 32px 5px 20px 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    &__logo{
        grid-area: 1 / 1 / 2 / 2;

        display: flex;
        width: 70%;
        min-width: 150px;
        align-items: center;
        & > svg {
            margin-right: 10px;
        }
        
    }
    
    &__title {
        font-family: $font;
        color: $aside-font-color;
    }
    &__nav{
        grid-area: 3 / 1 / 4 / 2;
        width: 70%;
        min-width: 150px;
    }
    &__nav-list {
        list-style: none;
    }
    &__nav-link,
    &__settings-link{
        text-decoration: none;
        color: $aside-font-color;
        font-family: $font;
        font-weight: 500;
        font-size: 20px;
        display: flex;
        align-items: center;
        transition: all .3s;
        &>svg {
            margin-right: 10px;
        }
        
        &:last-child{
            margin-bottom: 0;
        }
        &:hover{
            transform: scale(1.1);
           
        }
    }
    &__nav-item,
    &__settings-item{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__settings-list{
        grid-area: 6 / 1 / 7 / 2;
        list-style: none;
    }

}