.main {
    grid-area: 2 / 2 / 6 / 7;
    
    background-color: $main-bg;
    
    padding: 30px 30px 60px 15px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    & section {
        border-radius: 10px;
        background-color: #FFFFFF;
    }

    &__title{
        grid-area: 1 / 1 / 2 / 2;
        
        font-family: $font;
        font-weight: 500;

    }


    &__one{
        grid-area: 2 / 1 / 5 / 4;
        border-left: 10px solid #F0B429;
    }
    &__two{
        grid-area: 2 / 4 / 5 / 7;

        border-left: 10px solid #F0B429;
    }
    &__three{
        grid-area: 5 / 1 / 8 / 4;

        border-left: 10px solid #F0B429;
    }
    &__four{
        grid-area: 5 / 4 / 8 / 7;

        border-left: 10px solid #F0B429;
    }
    &__five{
        grid-area: 8 / 1 / 11 / 4;
        
        border-left: 10px solid #F0B429;
    }
    &__six {
        grid-area: 8 / 4 / 11 / 7;

        border-left: 10px solid #F0B429;
    }
    &__one,
    &__two,
    &__three,
    &__four,
    &__five,
    &__six{
        height: 100%;
        padding: 25px 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        & h3 {
            font-family: $font;
            font-size: 20px;
            font-weight: 500;
        }
        & p {
            font-family: $font;
            font-size: 15px;
            color: #7F7F7F;
        }
        & footer {
            
            align-self: flex-end;
            
            & svg {
                
                margin-right: 15px;
                &:hover{
                    fill: $aside-bg;
                }
            }
            & svg:last-child{
                transform: rotate(-91deg);
                margin-right: 0;
            }
        }
    }
    &__sub-title{
        grid-area: 1 / 7 / 2 / 8;

        font-family: $font;
        font-weight: 500;
    }
    &__seven{
        grid-area: 2 / 7 / 6 / 9;
        overflow: hidden;
        padding: 25px 20px 20px;
        & div {
            padding: 0.625em 0 0.625em;
            border-bottom: 1px solid #7F7F7F;
            &:last-child{
                border-bottom: none;
            }
            & h3 {
                font-family: $font;
                font-size: 15px;
            }
            & p {
                font-family: $font;
                font-size: 12px;
                color: #7F7F7F;
            }
        }
    }
    &__sub-title2{
        grid-area: 6 / 7 / 7 / 8;

        font-family: $font;
        font-weight: 500;
    }
    &__eight{
        grid-area: 7 / 7 / 11 / 9;

        border: 1px solid black;
    }
}